{% extends "themes/base_homepage.html.twig" %}

{% block title %} Créer un nouvel utilisateur {% endblock %}

{% block description %} Création d'un nouvel utilisateur {% endblock %}

{% block main %}

	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	
	<h1 class="text-center my-5" data-aos="fade-up-right">Nouvel utilisateur</h1>

  	{% for message in app.flashes('warning') %}
        <div class="text-center alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

  	{% for message in app.flashes('success') %}
        <div class="text-center alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-6">
				{{form_start(form)}}
				{% if active_role == 1 %}
					<div class="mb-3">
						<label for="user_form_roleName">Choix du Rôle</label>
						<div class="text-danger">{{ form_errors(form.roleName) }}</div>
						{{form_widget(form.roleName, {'attr':{'class':'form-control'}})}}
					</div>
				{% endif %}
				<div class="mb-3">
					<label for="user_form_firstName">Prénom</label>
					<div class="text-danger">{{ form_errors(form.firstName) }}</div>
					{{form_widget(form.firstName, {'attr':{'class':'form-control'}})}}
				</div>
				<div class="mb-3">
					<label for="user_form_lastName">Nom</label>
					<div class="text-danger">{{ form_errors(form.lastName) }}</div>
					{{form_widget(form.lastName, {'attr':{'class':'form-control'}})}}
				</div>
				<div class="mb-3">
					<label for="user_form_email">Email</label>
					<div class="text-danger">{{ form_errors(form.email) }}</div>
					{{form_widget(form.email, {'attr':{'class':'form-control'}})}}
				</div>
				<div class="mb-3">
					<label for="user_form_password_first">Mot de passe</label>
					<div class="text-danger">{{ form_errors(form.password.first) }}</div>
					{{form_widget(form.password.first, {'attr':{'class':'form-control'}})}}
				</div>
				<div class="mb-3">
					<label for="user_form_password_second">Mot de passe</label>
					<div class="text-danger">{{ form_errors(form.password.second) }}</div>
					{{form_widget(form.password.second, {'attr':{'class':'form-control'}})}}
				</div>
				{% if active_role == 1 %}
					<div class="mb-3">
						<label for="user_form_organizationName">Choix d'une organisation</label>
						<div class="text-danger">{{ form_errors(form.organizationName) }}</div>
						{{form_widget(form.organizationName, {'attr':{'class':'form-control'}})}}
					</div>
				{% endif %}
				<div class="mb-3">
					<label for="user_form_agreeTerms">
						{{ form_widget(form.agreeTerms) }}
						<div class="text-danger">{{ form_errors(form.agreeTerms) }}</div>
						Veuillez accepter
						<a data-bs-toggle="modal" data-bs-target="#registerModal" href="#">les conditions générales d'utilisation</a>

						<!-- Modal -->
						<div class="modal fade" id="registerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<p>Qu'est-ce que le Lorem Ipsum?
										Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>

										<p>
											Pourquoi l'utiliser?
										On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout cas comparable avec celle du français standard. De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, et une recherche pour 'Lorem Ipsum' vous conduira vers de nombreux sites qui n'en sont encore qu'à leur phase de construction. Plusieurs versions sont apparues avec le temps, parfois par accident, souvent intentionnellement (histoire d'y rajouter de petits clins d'oeil, voire des phrases embarassantes).</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
									</div>
								</div>
							</div>
						</div>
					</label>
				</div>
				<div class="mb-3">
					<input formnovalidate type="submit" class="btn btn-primary w-100 shadow">
				</div>
			{{form_end(form)}}
			</div>
		</div>
	</div>

{% endblock %}
