<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Réinitialisation du mot de passe</title>
		<meta name="description" content="Réinitialisation du mot de passe">
		
		{# favicon #}
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta
		name="theme-color" content="#ffffff">

		{# font-family #}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">

        {# bootstrap et feuille de style #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{# Javascript #} 
		{% block javascript %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </head>

    <body class="d-body">
        <main>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        {% for flash_error in app.flashes('reset_password_error') %}
                            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                        {% endfor %}
                        <h1 class="text-center my-5">Réinitialisation du mot de passe</h1>

                        {{ form_start(requestForm) }}
                            <div class="mb-3">
                                <label for="request_form_email">Email</label>
                                {{ form_widget(requestForm.email, {'attr': {'class':'form-control'}}) }}
                            </div>
                            <div class="mb-3">
                                <small>
                                    Entrez votre adresse email, et nous vous enverrons un lien pour la Réinitialisation du mot de passe.
                                </small>
                            </div>
                            <div class="mb-3">
                                <input type="submit" class="btn btn-success" value="Envoyer">
                            </div>
                        {{ form_end(requestForm) }}
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
