<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Nouveau mot de passe">
        <title>Nouveau mot de passe</title>

        {# favicon #}
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta
		name="theme-color" content="#ffffff">

		{# font-family #}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">

        {# bootstrap et feuille de style #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{# Javascript #} 
		{% block javascript %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </head>
    <body>
        <main class="container-fluid mt-3">
            <h1 class="text-center my-3">Nouveau mot de passe</h1>
            <div class="row justify-content-center">
                <div class="col-md-6 mx-auto">
                    {{ form_start(resetForm) }}
                        <div class="mb-3">
                            <label for="change_password_form_plainPassword_first">Nouveau mot de passe</label>
                            <div class="text-danger">{{form_errors(resetForm.plainPassword.first)}}</div>
                            {{ form_widget(resetForm.plainPassword.first, {'attr': {'class':'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            <label for="change_password_form_plainPassword_second">Confirmation du nouveau mot de passe</label>
                            <div class="text-danger">{{form_errors(resetForm.plainPassword.second)}}</div>
                            {{ form_widget(resetForm.plainPassword.second, {'attr': {'class':'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            <input type="submit" class="btn btn-success">
                        </div>
                    {{ form_end(resetForm) }}
                </div>
            </div>
        </main>
    </body>
</html>


