{% extends "themes/base_homepage.html.twig" %}

{% block title %} - Modifier l'organisation {% endblock %}

{% block description %}- Modification du nom de l'organisation {% endblock %}

{% block main %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
    <h1 class="text-center my-5" data-aos="fade-left">Modification du nom de l'organisation</h1>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-7 my-5">
                {{form_start(organizationForm)}}
                    <div>
                        <label for="organization_form_organizationName">Nom de l'organisation</label>
                        <div class="text-danger">{{ form_errors(organizationForm.organizationName) }}</div>
                        {{form_widget(organizationForm.organizationName, {'attr':{'class':'form-control'}})}}
                    </div>
                    <div class="mb-3">
                        <input formnovalidate type="submit" class="btn btn-success w-25 shadow" value="Valider">
                    </div>
                {{form_end(organizationForm)}}
            </div>
        </div>
    </div>



{% endblock %}