{% extends "themes/base_homepage.html.twig" %}

{% block title %}  Modification du Profil  {% endblock %}

{% block description %}  Modifier mon profil utilisateur  {% endblock %}

{% block main %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<div class="cardProfil container-fluid mx-auto mt-5">
		<div class="heading">Modifier mon profil</div>
			{{form_start(profilForm)}}
				<div class="mb-3">
					<label for="profil_form_firstName">Prénom</label>
					<div class="text-danger">{{ form_errors(profilForm.firstName) }}</div>
					{{form_widget(profilForm.firstName, {'attr':{'class':'form-control'}})}}
				</div>
				<div class="mb-3">
					<label for="profil_form_lastName">Nom</label>
					<div class="text-danger">{{ form_errors(profilForm.lastName) }}</div>
					{{form_widget(profilForm.lastName, {'attr':{'class':'form-control'}})}}
				</div>
				<div class="mb-5">
					<label for="profil_form_email">Email</label>
					<div class="text-danger">{{ form_errors(profilForm.email) }}</div>
					{{form_widget(profilForm.email, {'attr':{'class':'form-control'}})}}
				</div>
				<div class="text-center">
					<input formnovalidate type="submit" class="btn btn-primary w-75 shadow">
				</div>
			{{form_end(profilForm)}}
	</div>
{% endblock %}

