{% extends "themes/base_homepage.html.twig" %}

{% block title %}
	Mon profil 
{% endblock %}

{% block description %}
	 Profil utilisateur 
{% endblock %}

{% block main %}
        <div class="container my-5">
            <div class="d-flex flex-column justify-content-center align-items-center">
                {% for message in app.flashes('success') %}
                    <div class="text-center alert alert-success alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                <div class="cardPro">
                    <div class="image"></div>
                    <div class="cardPro-info">
                        <span> {{app.user.firstName}} {{app.user.lastName}} </span>
                        <ul class="list-unstyled">
                            <li>Nom : {{app.user.lastName}} </li>
                            <li>Prénom : {{app.user.firstName}} </li>
                            <li>Email : {{app.user.email}} </li>
                            <li>Ajouté le : {{app.user.createdAt|date('d-m-Y')}} </li>
                        </ul>
                    </div>
                        <div class="d-flex flex-column w-75">
                        <a href="{{path('profil.edit')}}" class="buttonPro"><strong>Modifier mon profil</strong></a>
                        <a href="{{path('profil.edit_password')}}" class="buttonPro"><strong>Modifier mon mot de passe</strong></a>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
